.HomePage {
    margin-top: 50px;
}

.HomePage .container {
    padding: 10px 50px 50px 50px;
    color: #ffffff;
    background-color: #366ed1;
}

.HomePage .container > div {
    max-width: 960px;
    margin: 0 auto;
}

.HomePage .container > h1 {
    font-size: 30px;
    font-weight: lighter;
    cursor: default;
}